*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-white{
    color: white;
}
.f-size{
    font-size: 1.3em;
}
.f-size-2{
    font-size: 1.5em;
}
.display-none{
    display: none;
    margin-left: 20%;
}
.web-app{
    background-color: antiquewhite;
    height: 100vh;
}
.web-app-top{
    height: calc(100% - 100px);
    display: flex;
}
/*ANCHOR MAIN*/
.main{
    width: 100%;
    /* da cancellare */
    background-color: rgba(20,25,34,255);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
/*ANCHOR TOP FIXED*/
.part-top{
    background-color: rgba(0,0,0,255);
    width: 95%;
    /* da cancellare */
    position: fixed;
    right: 0;
    top: 0;
    height: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button{
    width: 40%;
    height: 50%;
    display: flex;
    margin-right: 2%;
}
button{
    padding: 0 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6em;
    border-radius: 15px;
    background-color: rgba(0,0,0,255);
    color: white;
    border: 1px solid white;
}
/* ANCHOR ASIDE*/
.aside{
    width: 5%;
    height: calc(100% - 100px);
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,255);
    justify-content: space-between;  
}
.aside,
.nav-top,
.nav-bottom{
    display: flex;
    flex-direction: column;
}
.nav-top,
.nav-bottom{
    width: 100%;
    height: 20%;
    align-items: center;
}
.nav-top{
    justify-content: space-around;
}
.nav-center{
    display: none;
}
.name-playlist{
    display: none;
    color: rgba(163,163,163,255);
    font-size: 1.4em;
    margin: 4% 2%;
}
.nav-bottom{
    justify-content: flex-end;
}
.nav-bottom>.icon{
    margin: 10% 0;
}
.logo{
    display: none;
    width: 30%;
    height: 40%;
    color: white;
}
.icon{
    width: 17px;
    display: flex;
}
.profile{
    background-color: grey;
    border-radius: 60%;
}
hr{
    margin: 0 auto;
    width: 90%;
    height: 2%;
    background-color: rgba(96,98,104,255);
}
/*ANCHOR MENU & TITLE*/
.menu,
.title{
    width: 100%;
}
.menu{
    margin-top: 11%;
    width: 100%;
    height: 10%;
    background-color: rgba(20,25,34,255); 
    display: flex;
    flex-direction: column;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(96,98,104,255);
    display: flex;
    font-size: 0.6em;
    margin: 2%;
    padding: 5% 0 5% 20%;
    margin-left: 30px;
    justify-content: space-between;
    white-space: nowrap;
    align-content: center;
}
#special{
    border-bottom: 1px solid red;  
}

ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.title{
    padding-left: 5%;
    height: 7%;
    font-size: 0.6em;
    color: white;
    background-color: rgba(20,25,34,255);
}
/*ANCHOR ALBUM*/
.cards{
    width: calc((100% / 2) - 10%);
    display: block;
    margin: 0 0 2% 8% ;
    height: 35%;
    background-color: rgba(20,25,34,255);
}
.album{
    width: 100%;
    height: 65%;
}
.circle{
    clip-path: circle(50%);
}
.description-album{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}
.p{
    word-wrap: break-word;
    text-align: center;
}
.em{
    font-size: 0.8em;
}
.color-grey{
    color: rgba(113,115,121,255);
}
.web-app-bottom{
    height: 100px;
    background-color: rgba(40,40,40,255);
    display: flex;
}
/*ANCHOR WEB-APP BOTTOM*/
.footer{
    display: flex;
}
.menu-left{
    width: 30%;
    height: 100%;
    display: flex;
    margin-top: 2%;
}
.icon-sinister{
    width: 100%;
    height: 50%;
}
.playlist{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.7em;
}
.icon-text{
    color: rgba(112,112,112,255);
    text-transform: capitalize;
    font-size: 0.6em;
}
.icon-left{
    width: 30%;
    height: 100%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
}
.fa-heart,
.fa-folder{
    padding: 5%;
    text-align: center;
    color: rgba(112,112,112,255);
}
.menu-center{
    width: 40%;
    height: 100%;
    align-items: center; 
    display: flex;
    flex-direction: column; 
}
.top,
.bottom{
    display: flex;
    width: 100%;
    height: 45%;
    margin: 2% 2%;
}
.bottom{
    justify-content: center;
    align-items: center;
}
.top{
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.icon-top{
    width: 15%;
    height: 60%;
    display: flex;
    align-items: center;
    color: white;
}
.icon-bottom{
    color: white;
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    background-color: rgb(17, 15, 15);
}
input{
    width: 60%;
    height: 20%;
    margin: 0 1%;
}
.menu-right{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    align-items: center;
}
.icon-right{
    width: 15%;
    height: 30%;
    display: flex;
    align-items: center;
    color: white;
}
.ro{
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
}
.bg-grey,
.bg-light-grey{
    border-radius: 2px;
}
.bg-grey{
    width: 30%;
    height: 20%;
    background-color: rgba(193,193,193,255);
}
.bg-light-grey{
    width: 100%;
    height: 20%;
    background-color: lightslategray;
}

/*ANCHOR MAX WIDTH 768PX*/
@media screen and (min-width: 768px) and (max-width: 900px){
    .aside{
        width: 30%;
    }
    .aside,
    .nav-top,
    .nav-bottom{
        display: flex;
        align-items: flex-start;
    }
    .nav-center{
        color: rgba(163,163,163,255);
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        width: 100%;
        height: 50%;
    }
    .nav-top,
    .nav-center,
    .nav-bottom{
        margin-left: 5%;
    }
    div> h2{
        color: white;
        font-size: 1.5em;
        padding: 3%;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .fa-square-plus{
        font-size: 4em;
        display: flex;
        padding-right: 2%;
    }
    .name-playlist{
        display: block;
    }
    .logo-small{
        display: none;
    }
    .logo{
        display: block;
    }
    .display-none{
        display: block;
    }
    .icon{
        color: rgba(163,163,163,255);
        width: 20%;
        padding-left: 3%;
        display: flex;
        white-space: nowrap;
        text-transform: capitalize;
        align-items: center;
    }
    .title,
    h5,
    .color-grey{
        font-size: 1.1em;
    }
    .title,
    .color-grey{
        margin-bottom: 5%;
    }
    .main{
        width: 70%;
        margin:9% 0 0 30%;
    }
    .part-top{
        background-color: rgba(0,0,0,255);
        width: 70%;
    }    
    .menu{
        width: 70%;
    }
    nav ul li a{
        font-size: 0.9em;
    }
}